/* author @ vivian li */

html, body {
    height: 100%;
    margin: 0;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    overflow: auto; 
    flex-grow: 1;
}

.navbar {
    background-color: #004b8d; 
    padding: 15px 0;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-links {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #002f5f; 
}

h1 {
    text-align: center;
    color: red;
    font-family: cursive;
    font-size: 50px;
    margin: 5px;
}

h2 {
    text-align: center;
    color: rgb(0, 76, 139);
    margin: 10px;
}

p {
    max-width: 90%;
    width: 800px;
    margin: auto;
    color:darkcyan;
}

#main {
    color:black;
}

#button {
    color:black;
    padding: 10px 10px 10px 10px;
    border: 1px dashed;
    border-radius: 10px;
    background-color: rgb(229, 254, 255);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

#button:hover {
    background-color: #b3f0ff; 
    border-color: #0056b3; 
}

.pic {
    border-radius: 20px;
    margin: 3px;
    height: auto;
}

h4 {
    text-align: center;
    color: rgb(0, 30, 139);
    margin: 10px;
}

.pin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
}

.picture {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
}

.place-container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap; 
    margin-top: 20px; 
}

.destination {
    width: 300px; 
    background-color: #f9f9f9; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
}

h5 {
    font-size: 18px;
    color: rgb(0, 76, 139);
    margin-bottom: 10px;
    text-align: center;
}

